body{
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

header{
    margin: 0;
}

h1{
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

ul{
    margin: 0;
    padding: 0;
    /* border: 1px solid turquoise; */
}

li{
    width: 100%;
}

.item-search-div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item-search-input{
    margin-top: 1rem;
}

.item-nested-ingredients-list{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 2rem;
    /* border-left: 2px solid #aaaaff; */
    border-radius: 1rem;
}

.item-nested-ingredients-list span{
    color: gray;
    font-size: 0.75rem;
    /* margin-left: 0.25rem; */
    display: flex;
    margin-top: 0.25rem;
    /* margin-bottom: 0.25rem; */
}

.item-nested-ingredients-list li div{
    transition: 0.3s
}

.item-nested-ingredients-list li div:hover,
.item-base-ingredients-list li:hover{
    color: #22aaaa;
    cursor: pointer;
    transition: 0.1s
}



.item-nested-ingredients-list ul {
    margin-left: 0rem;
    list-style: none;
    border-radius: 0.5rem;
}

.item-nested-ingredients-list ul ul {
    border-left: 1px solid #aaaaff;
}

.item-nested-ingredients-list ul ul ul{
    border-left: 1px dotted #8888ff;
}
.item-nested-ingredients-list ul ul ul ul{
    border-left: 1px dotted #6666ff;
}
.item-nested-ingredients-list ul ul ul ul ul{
    border-left: 1px dotted #4444ff;
}

.item-nested-ingredients-list .nested-list-top{
    border: none;
}

.item-nested-ingredients-list li{
    margin-left: 2rem;
}

.item-base-ingredients-list{
    text-align: left;
}

.item-base-ingredients-list li{
list-style: none;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    /* border: 1px solid greenyellow; */
}

.search-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.search-list li{
    list-style: none;
    
}

.search-method{
    /* background-color:beige; */
    text-align: center;
    /* border: 1px solid red; */
    width: 160px;
}

.search-name{
    /* background-color: aliceblue; */
    text-align: left;
    /* border: 1px solid red; */
    flex: 800px;
}

.search-list:hover{
    background-color: floralwhite;
    cursor: pointer;
}

.item-details{
    background-color:antiquewhite;
    /* border: 1px solid blue; */
}

.item-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    flex: 1 300px;
    max-height: 800px;
    overflow-y: auto;
}



.hidden{
    display: none;
}

.flex{
    display: flex;
}

.item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* width: 800px; */
}

.ingredients-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.italic{
    font-style: italic;
}

/* screen smaller */
@media (min-width: 800px){
}

/* screen bigger than 800 px */
@media (min-width: 800px){
    .ingredients-container{
        flex-direction: row-reverse;
        justify-content: space-between;

    }
}


