:root {
    --blue1: #ADD7F6;
    --blue2: #87bfff;
    --blue3: #3F8EFC;
    --blue4: #2667FF;
    --blue5: #3B28CC;
}


body{
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--blue1);
}

header{
    margin: 0;
    background-color: var(--blue2);
}

h1{
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    width: 100%;
}

input{
    border: 2px solid var(--blue3);
    border-radius: 4px;
    padding: 5px 10px;
}

input:focus{
    border: 2px solid var(--blue5);
}

.item-search-div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item-search-input{
    margin-top: 1rem;
}

.item-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--blue3);
    /* border-radius: 1em; */
    flex: 1 300px;
    min-height: 200px;
    max-height: 800px;
    overflow-y: auto;
    background-color: var(--blue2);
}

.item-details{
    margin-top: 1em;
    padding-bottom: 1em;
    background-color: var(--blue2);
    border-radius: 1em;
    border: 2px solid var(--blue4);
}

/* This seems to be unused? */
.item-details p span{
    padding: 0.25rem 0.5rem;
    min-width: 30px;
    border: 1px solid var(--blue5);
    /* font-size: 0.8rem; */
    display: inline-block;

    &:hover{
        border-color: var(--blue5);
        background-color: var(--blue3);
        cursor: pointer;
    }
}

.sub-item-details{
    margin-top: 1em;
    background-color: var(--blue1);
    border-radius: 1em;
    
    border: 2px solid var(--blue2);
}

.item-nested-ingredients-list{
    padding: 0 1em 1em 1em;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 2rem;
    border: 2px solid var(--blue2);
    border-radius: 1rem;
}

.item-nested-ingredients-list li{
    margin-left: 2rem;
}

.item-nested-ingredients-list span{
    color: gray;
    font-size: 0.75rem;
    /* margin-left: 0.25rem; */
    display: flex;
    margin-top: 0.25rem;
    /* margin-bottom: 0.25rem; */
}

.item-nested-ingredients-list li div{
    transition: 0.3s
}

.item-nested-ingredients-list li div:hover,
.item-base-ingredients-list li:hover{
    color: var(--blue5);
    cursor: pointer;
    transition: 0.1s
}

.item-nested-ingredients-list .nested-list-top .index-main{
    margin-left: 0.5em;
}

.item-nested-ingredients-list ul {
    margin-left: 0rem;
    list-style: none;
    border-radius: 0.5rem;
}

.item-nested-ingredients-list ul ul {
    border-left: 1px solid #aaaaff;
}

.item-nested-ingredients-list ul ul ul{
    border-left: 1px dotted #8888ff;
}
.item-nested-ingredients-list ul ul ul ul{
    border-left: 1px dotted #6666ff;
}
.item-nested-ingredients-list ul ul ul ul ul{
    border-left: 1px dotted #4444ff;
}

.item-nested-ingredients-list .nested-list-top{
    border: none;
}



.item-base-ingredients-list{
    padding: 0 1em 1em 1em;
    text-align: left;
    border-radius: 1em;
    border: 2px solid var(--blue2);
    /* margin-top: 1em; */
    margin-bottom: 1em;
    height: fit-content;
}

.item-base-ingredients-list li{
list-style: none;
}

.cooking-window-mockup{
    
    display: block;
}

.mockup-recipe-window{
    position: relative;
}

.mockup-ingredients-window{
    height: 156px;
    width: 351px;
    border: #4791b2 1px solid;
    background-color: #366c8c;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mockup-main-ingredient{
    height: 73px;
    width: 69px;
    border: #193341 2px solid;
    border-radius: 3px;
    border-bottom: none;
    margin-top: 30px;
    background-color: #35646a;
    /* margin-left: -1px; */
    /* margin-right: 2px; */
}

.mockup-ingredient{
    height: 97px;
    width: 71px;
    margin-top: 8px;
    border: #42515a 1px solid;

    border-bottom: #23313a solid 1px;
    border-right: #23313a solid 1px;
}

.mockup-cooking-bar{
    position: absolute;
    width: 243px;
    height: 8px;
    border: solid 1px #87969f;
    background-color: #c1d0d9;
    bottom: 6px;
    left: 96px;
    display:flex;
}

.mockup-overlay-bar{
    /* position: absolute; */
    
    display:flex;
    width: 100%;
}

.mockup-pct1{
    background-color: red;
    height: 8px;
    width: 0%;
        &:hover{
        background-color: lightcoral;
    }
}
.mockup-pct2{
    background-color: green;
    height: 8px;
    width: 0%;
        &:hover{
        background-color: lightgreen;
    }
}
.mockup-pct3{
    background-color: blue;
    height: 8px;
    width: 0%;

    &:hover{
        background-color: lightblue;
    }
}
.mockup-add-btn{
    width: 74px;
    height: 25px;
    margin-top: 3px;
    border: 1px solid #194c8a;
    background-color: #438eb6;
    color: white;
    text-shadow: -1px -1px 0 #2a5971,  /* Top-left shadow */
                     1px -1px 0 #2a5971,   /* Top-right shadow */
                     -1px 1px 0 #2a5971,   /* Bottom-left shadow */
                     1px 1px 0 #2a5971;    /* Bottom-right shadow */
    border-radius: 2px;

    font-size: 12px;
}

.mockup-add-btn:hover{
    color: #dcf1c6;
    background-color: #65c4da;
    cursor: pointer;
    border-color: #1a698a;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    /* border: 1px solid greenyellow; */
}

.search-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.search-list li{
    list-style: none;
    
}

.search-method{
    /* background-color:beige; */
    text-align: center;
    /* border: 1px solid red; */
    width: 160px;
}

.search-name{
    /* background-color: aliceblue; */
    text-align: left;
    /* border: 1px solid red; */
    flex: 800px;
}

.search-list:hover{
    background-color: aliceblue;
    cursor: pointer;
}







.hidden{
    display: none;
}

.flex{
    display: flex;
}



.item-details .selected{
    color: aliceblue;
    border-color: var(--blue5);
    background-color: var(--blue4);
}

.item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* width: 800px; */
}

.ingredients-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.italic{
    font-style: italic;
}

.align-left{
    text-align: left;
}

/* screen smaller */
@media (min-width: 800px){
}

/* screen bigger than 800 px */
@media (min-width: 800px){
    .ingredients-container{
        flex-direction: row-reverse;
        justify-content: space-between;

    }
}


